@import '@oasisprotocol/ui-library/src/styles/global.css';

@source "../node_modules/@oasisprotocol/ui-library";

:root {
  --default-font-family: 'Inter', sans-serif;
}

.dark {
  --primary: #03ffff;
  --foreground: #fafafa;
}
