@import '@oasisprotocol/ui-library/src/styles/global.css';

@source "../node_modules/@oasisprotocol/ui-library";

:root {
  --default-font-family: 'Inter', sans-serif;
}

.dark {
  --primary: #03ffff;
  --foreground: #fafafa;
  --base-card: #18181b;
}

/*
  [rainbowkit]: Hacky way to implement visible chains in switch modal dialog
 */
[data-rk] {
  && {
    [data-testid='rk-chain-option-1'],
    [data-testid='rk-chain-option-56'],
    [data-testid='rk-chain-option-728126428'],
    [data-testid='rk-chain-option-8453'],
    [data-testid='rk-chain-option-42161'],
    [data-testid='rk-chain-option-43114'],
    [data-testid='rk-chain-option-137'] {
      display: none;
    }
  }
}

.animate-dashoffset {
  stroke-dasharray: 100;
  stroke-dashoffset: 95;
  animation: dashoffset var(--animate-dashoffset-duration, 1000ms) linear forwards;
}
@keyframes dashoffset {
  to {
    stroke-dashoffset: 10;
  }
}
