@import '@oasisprotocol/ui-library/src/styles/global.css';
@plugin "@tailwindcss/typography";

@source "../node_modules/@oasisprotocol/ui-library";

:root {
  --default-font-family: 'Inter', sans-serif;
}

.dark {
  --primary: #03ffff;
  --foreground: #fafafa;
  --base-card: #18181b;
}

/*
  [rainbowkit]: Hacky way to implement visible chains in switch modal dialog
 */
[data-rk] {
  && {
    [data-testid='rk-chain-option-1'],
    [data-testid='rk-chain-option-56'],
    [data-testid='rk-chain-option-728126428'],
    [data-testid='rk-chain-option-8453'],
    [data-testid='rk-chain-option-42161'],
    [data-testid='rk-chain-option-43114'],
    [data-testid='rk-chain-option-137'] {
      display: none;
    }
  }
}

.animate-dashoffset {
  stroke-dasharray: 100;
  stroke-dashoffset: 95;
  animation: dashoffset var(--animate-dashoffset-duration, 1000ms) linear forwards;
}
@keyframes dashoffset {
  to {
    stroke-dashoffset: 10;
  }
}

.animate-dashoffset-reverse {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  animation: dashoffset-reverse var(--animate-dashoffset-duration, 1000ms) linear forwards;
}
@keyframes dashoffset-reverse {
  to {
    stroke-dashoffset: 100;
  }
}

/* TODO: move into ui-library? */
/* Detect multiple submit buttons in one form */
@counter-style warn-multiple-submit-buttons {
  system: fixed;
  symbols: '' 'DEV: multiple submit buttons in one form' 'DEV: multiple submit buttons in one form'
    'DEV: multiple submit buttons in one form';
}
[data-is-prod='false'] {
  form {
    counter-reset: count-submit-buttons;
  }
  form button:not([type])::before,
  form button[type='submit']::before {
    counter-increment: count-submit-buttons;
    content: counter(count-submit-buttons, warn-multiple-submit-buttons);
    color: red;
  }
}
/* Detect buttons but missing a submit button in a form */
[data-is-prod='false'] {
  form:not(:has(button[type='submit'], button:not([type]))):has(button)::before {
    content: 'DEV: this form does not have a submit button';
    color: red;
  }
}
